{% extends 'base.html' %}
{% block title %}ตะกร้าของโต๊ะ {{ table.number }}{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">ตะกร้าของโต๊ะ {{ table.number }}</h1>
        {% if cart_items %}
        <form method="POST" action="">
            {% csrf_token %}
            <ul class="list-group mb-4">
                {% for item in cart_items %}
                <li class="list-group-item d-flex align-items-center">
                    <img src="{% if item.dish.image %}../../media/{{ item.dish.image }}{% else %}https://via.placeholder.com/100x100{% endif %}" alt="{{ item.dish.name }}" class="img-thumbnail me-3" style="width: 100px; height: 100px;">
                    <div>
                        <h3 class="h5">{{ item.dish.name }}</h3>
                        <p class="mb-1">จำนวน: {{ item.amount }}</p>
                        <p class="mb-1">ราคา: {{ item.dish.price }} บาท</p>
                        <p class="mb-1">รวม: {{ item.total_price }} บาท</p>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="card p-3">
                <h3 class="h5">ยอดรวมทั้งหมด: {{ total_amount }} บาท</h3>
                <div class="mb-3">
                    <textarea name="remark" class="form-control" rows="4" placeholder="หมายเหตุสำหรับการสั่งอาหาร"></textarea>
                </div>
                <button type="submit" class="btn btn-success w-100">ยืนยันรายการอาหาร</button>
            </div>
        </form>
        {% else %}
        <p class="text-center">ยังไม่มีสินค้าในตะกร้า</p>
        {% endif %}
    </div>
{% endblock %}