<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-color-white d-flex">
        <div class="container-fluid">
            <a class="navbar-brand" href="">ร้านอาหาร</a>
            <button class="navbar-toggler align-self-last" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated and request.user.is_staff %}
                <span class="navbar-text">Welcome , {{ request.user.first_name }} {{ request.user.last_name }}</span>
                {% endif %}
                {% if not request.user.is_staff %}
                    {% if table_number %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order_history' table_number %}">ดูประวัติการสั่งอาหาร</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_cart' table_number %}">ตะกร้า</a>
                    </li>
                    {% endif %}
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">ออกจากระบบ</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_list' %}">ดูรายชื่อผู้ใช้</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

